.restCardOrders {
  display: grid;
  font-size: small;
  grid-template-columns: auto auto;
  gap: 10px 20px;
  border: solid 1px rgb(204, 204, 204);
  border-radius: 3px;
  padding: 10px;
  width: 950px;
}
.custOrderDetails {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
